library/*.c
library/actors/*.c
stuff
core
tpl
*.dSYM
*.d
*.db
*.a
*.o
*.so
*.exe
*.lib
*.obj
*.log
*.out
*.kvs
*.dbs
*~
*#
*.gcda
faultinject*
util/bin2c
samples/embed
samples/allocator
samples/oom
samples/oom.tmp
tests/net/net_test
/ports/arduino-nano-esp32/build/
/ports/arduino-nano-esp32/sdkconfig
/ports/arduino-nano-esp32/sdkconfig.old
/ports/arduino-nano-esp32/dependencies.lock
